@charset "utf-8";
/* CSS Document */

body{
    font-family:verdana;
    font-size: 12px;
	background-color:#CCC;
}

h1 {
	text-shadow: 0.1em 0.1em 0.5em black;
	color:#FFF;
}



hr{
    color:#fff;
    height: 0px;   
    border: solid;
}



.td{
	background-color:#333;
	color:#fff;

}


.td2{
	background-color:#FFF;
}

.td3{
	background-color:#333;
	color:#fff;
	border:0px;
	text-align:right;
	padding-right:30px;
}

table, th, td {
	    font-family:verdana;
    font-size: 12px;
	
}

	a:link {color:#fff;
	font-weight: bold;
	text-decoration:none
	}
	a:active {color:#FF0000;
	font-weight: bold;
	text-decoration:none
	}
	a:visited {color:#fff;
	font-weight: bold;
	text-decoration:none
	}
	a:hover {color:#FF0000;
	font-weight: bold;
	-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #fff;
	text-decoration:none
	font-size:13px;
	font-size: 15px;
	}
